---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>
        {{content}}
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                    Content
                </div>
                <ul id="content-side" class="content-ul">
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
             <div class="side">
                 <div>
                     <i class="fa fa-external-link"></i>
                     最新评论
                 </div>
                 <!-- 代码1：放在页面需要展示的位置  -->
                 <!-- 如果您配置过sourceid，建议在div标签中配置sourceid、cid(分类id)，没有请忽略  -->
                 <div id="cyReping" role="cylabs" data-use="reping"></div>
                 <!-- 代码2：用来读取评论框配置，此代码需放置在代码1之后。 -->
                 <!-- 如果当前页面有评论框，代码2请勿放置在评论框代码之前。 -->
                 <!-- 如果页面同时使用多个实验室项目，以下代码只需要引入一次，只配置上面的div标签即可 -->
                 <script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
                 <script type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cys43pjaG"></script>
             </div>
        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
